html {
    scroll-behavior: smooth;
}

body {
    margin:0;
}

.container {
    max-width:1000px;
}

header {
    border:none;
}

h1 {
    font-family:Averia Gruesa Libre;
    margin:0;
    text-align:center;
}

h2 {
    font-family:Outfit;
    font-weight:300;
    margin:0;
    text-align:center;
}

h3 {
    font-family:Outfit;
    font-weight:300;
    margin-top:100px;
    font-size:30px;
}

h4 {
    font-family:Outfit;
    font-weight:500;
    text-decoration: underline;
    font-size:20px;
}

strong {
    font-weight:600;
}

#intro {
    text-align:center;
    padding-bottom:40px;
}

article {
    text-align:center;
    padding:10px;
}

p {
    font-family:Outfit;
    font-weight:300;
    text-align:center;
}

#content {
    margin:20px;
}

#content p {
    text-align:left;
    font-size:15px;
}

#content img {
    text-align:center;
    margin:auto;
}


ul {
   list-style-type: none;
   font-family:Outfit;
   font-weight:500;
   padding:0;
   text-align:center;
}

li:nth-child(3){
    font-family:Averia Gruesa Libre;
    line-height:0.8em;
    display:none;
}

li {
    padding-bottom:20px;
}

.btn {
    background-color:rgb(198, 231, 242);
    border:2px solid rgb(198, 231, 242);
    display:inline-block;
    padding:8px;
    margin-top:10px;
    border-radius:20px;
    box-shadow: 1px 1px 0 darkgrey;
}

.btn:hover {
    background-color:transparent;
    border:2px solid rgb(198, 231, 242);
}

a {
    text-decoration:none;
    color:black;
}

#logo {
    scale:2;
    padding-top:40px;
    padding-bottom:40px;
    text-align:left;
    transition: 1s;
    text-align:center;
}

#logo:hover {
    transform:rotate(90deg);
    text-align:center;
}

button {
    all:unset;
    text-align:right;
    margin-left:auto;
    font-family:outfit;
    font-size:30px;
}

.burger {
    position:absolute;
    top:25px;
    right:25px;
    cursor:pointer;
}

.burger span {
    display:block;
    height:3px;
    width:25px;
    background-color:black;
    margin-bottom:5px;
}

#work p {
    margin-top:60px;
}

#work article p {
    margin:0;
}

article p {
    text-align:right;
}

article img {
    border-radius:8px;
    width:100%;
    max-width:600px;
    height:auto;
    border: 2px solid white;
}

article img:hover {
    border: 2px solid darkgray;
}

.nav-overlay {
    position:fixed;
    inset:0;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    visibility:hidden;
    transition: .35s ease;
    z-index:2;
}

.nav-overlay.open {
    opacity:1;
    visibility:visible;
}

.close {
    position:absolute;
    top:25px;
    right:25px;
    cursor:pointer;
}

.reg-nav {
    display:none;
}

.reg-nav a {
    position: relative;
    text-decoration: none;
    color: black;
}

.reg-nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: black;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.reg-nav a:hover::after {
    width: 100%;
}

#details p:nth-child(2), #details p:nth-child(4){
    display:none;
}

.images {
    display:none;
}

.context img {
    display:block;
    max-width:400px;
}

#climatephotos {
    display:flex;
}

#shdsimg {
    text-align:center;
}

.d3c2 {
    border: 1px solid darkgray;
}

footer a {
    text-decoration:underline;
}












@media (min-width: 900px) {
    header {
        border-bottom: 1px solid black;
    }

    li:nth-child(3){
        display:block;
        font-family:outfit;
    }

    li:nth-child(4){
        display:block;
        font-size:26px;
        font-family:Averia Gruesa Libre;
        line-height:0.8em;
    }

    #logo {
        scale:1;
        padding:0;
    }

    .container {
        margin-left:auto;
        margin-right:auto;
    }

    article img {
        text-align:center;
        max-width:900px;
    }

    .burger {
        display:none;
    }

    .nav-overlay {
        display:none;
    }

    .reg-nav {
        display: block;
        padding-top:20px;
    }

    .reg-nav ul {
        display: flex;
        justify-content: center;
        gap:70px;
        align-items: center;
        list-style: none;
        margin: 0;
        padding:15px;
        font-weight:300;
    }

    .reg-nav a {
        text-decoration: none;
    }

    #intro {
        text-align:left;
        padding-left:60px;
        padding-bottom:200px;
        padding-top:50px;
    }

    h1 {
        text-align:left;
    }

    h2 {
        text-align:left;
    }

    #content img {
        padding:5px;
    }

    #details {
        display:flex;
        gap:15px;
    }

    h3{
        font-size:45px;
    }

    #details p:nth-child(2), #details p:nth-child(4){
        display:block;
    }

    .description {
        max-width: 500px;
    }

    .page {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
    }

    .images {
        display:block;
        text-align:center;
    }

    .context img {
        display:none;
    }



    
    
}